html,
body {
  padding: 0;
  margin: 0;
}

#map {
  overflow: hidden;
  float: left;
  border: thin solid #333;
}

#capture {
  overflow: auto;
  float: left;
  border: thin solid #333;
  border-left: none;
  padding: 2.5rem 3rem 2.5rem 3rem;
}

#capture img {
  max-width: 30vh;
  max-height: 30vh;
  display: inline-block;
}

@media screen and (max-width: 1200px){
  #capture img {
  max-width: 15vh;
  max-height: 10vh;
  }
  
  #map{
    height: 50vh;
    width: 100%;
  }
  
  #capture{
    height: 50vh;
    width: 100%;
  }
}

@media (min-width: 1200px){
  #map{
     height: 75vh;
     width: 50%;
  }
  
  #capture{
    height: 75vh;
    width: 50%;
  }
}
