html,
body {
  padding: 0;
  margin: 0;
}
#map {
  height: 75vh;
  width: 50%;
  overflow: hidden;
  float: left;
  border: thin solid #333;
}
#capture {
  height: 75vh;
  width: 50%;
  overflow: auto;
  float: left;
  border: thin solid #333;
  border-left: none;
  padding: 2.5rem 5rem 2.5rem 5rem;
}

img {
  max-width: 30vh;
  display: inline-block;
}
